<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>pl.letsplay.jsp.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>pl.letsplay.jsp.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PasswordReminderServlet</servlet-name>
  	<display-name>PasswordReminderServlet</display-name>
  	<description></description>
  	<servlet-class>pl.letsplay.jsp.servlet.PasswordReminderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>createMeeting</servlet-name>
  	<display-name>createMeeting</display-name>
  	<description></description>
  	<jsp-file>/createMeeting.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>CreateMeetingServlet</servlet-name>
  	<display-name>CreateMeetingServlet</display-name>
  	<description></description>
  	<servlet-class>pl.letsplay.jsp.servlet.CreateMeetingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MenuServlet</servlet-name>
  	<display-name>MenuServlet</display-name>
  	<description></description>
  	<servlet-class>pl.letsplay.jsp.servlet.MenuServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowMeetingServlet</servlet-name>
  	<display-name>ShowMeetingServlet</display-name>
  	<description></description>
  	<servlet-class>pl.letsplay.jsp.servlet.ShowMeetingServlet</servlet-class>
  </servlet>
  
    <servlet>
  	<servlet-name>GetAllMeetingsServlet</servlet-name>
  	<display-name>GetAllMeetingsServlet</display-name>
  	<description></description>
  	<servlet-class>pl.letsplay.jsp.servlet.GetAllMeetingsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindMeetingServlet</servlet-name>
  	<display-name>FindMeetingServlet</display-name>
  	<description></description>
  	<servlet-class>pl.letsplay.jsp.servlet.FindMeetingServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordReminderServlet</servlet-name>
  	<url-pattern>/passwordReminder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateMeetingServlet</servlet-name>
  	<url-pattern>/CreateMeeting</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MenuServlet</servlet-name>
  	<url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowMeetingServlet</servlet-name>
  	<url-pattern>/ShowMeetingServlet</url-pattern>

  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAllMeetingsServlet</servlet-name>
  	<url-pattern>/GetAllMeetings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindMeetingServlet</servlet-name>
  	<url-pattern>/FindMeeting</url-pattern>
  </servlet-mapping>

</web-app>
