@CHARSET "UTF-8";

#login {
	/*margin: 50px;*/
	width: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.hiddenElement {
	display: none;
}

.errorMessage {
	display: block;
}

	html
	{
		background-color: purple;
	}
	
	.form{
	margin: auto;
		text-align: center;
		border: 2px solid purple;
		background-color: yellow;
		width: 60%;
	}
	.form input{
		width=70%
	}
	
	.frame{
	padding: 100px;
		margin: 100px;
		background-color: purple;
	}